@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --brand-green-default: #40B25C;
    --brand-green-default-light: #53CC71;
    --brand-green-default-dark: #2D8A44;
    --brand-orange-default: #E36305;
    --brand-orange-default-light: #FF8861;
    --brand-orange-default-dark: #80351D;
    --feedback-default: #E63737;
    --feedback-default-light: #F6CBCB;
    --feedback-light: #F6CBCB;
    --neltral-dark: #030303;
    --neltral-medium: #40464D;
    --neltral-medium-light: #CFD1D2;
    --neltral-light: #9FA3A6;
    --netral-light-hover: #E9E9E9;

    --large-paragraph: 16px;
    --medium-paragraph: 14px;
    --small-paragraph: 12px;
    --placeholder: 16px;
    --cta: 16px;

    --product-gray: #595961;
    --product-salmon: #FFD1C2;
    --product-silver: #C8C8CF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--neltral-dark);
}

body {
    overflow-x: hidden;
}

header {
    width: 100vw;
}

.container {
    max-width: 1440px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

header .container .input-container {
    display: flex;
    justify-content: space-between;
    width: 902px;
    height: 46px;
    border: 1px solid var(--neltral-light);
    border-radius: 4px;
    padding: 8px 20px;
}

header .container .input-container input {
    font-size: var(--large-paragraph);
    border: none;
    color: var(--neltral-medium);
    font-weight: 500;
    width: 100%;
}

header .container .input-container input:focus{
    outline: none;
}

header .container button {
    display: flex;
    align-items: center;
    padding: 16px;
    height: 48px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    transition: all 0.5s;
    border-radius: 4px;
    cursor: pointer;
}

header .container button:hover {
    background-color: var(--netral-light-hover);
}

header .container button img {
    margin-right: 8px;
}

header .menu-icon {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

header .search-container {
    display: none;
}

header .container .bag-container {
    position: relative;
}


header .container .bag-container span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: var(--brand-orange-default);
    color: white;
    font-size: var(--small-paragraph);
    border-radius: 100%;
    position: absolute;
    right: -7px;
    top: -5px;
}

/* SECTION MENU */

div.scrollmenu {
    display: flex;
    justify-content: center;
    background-color: var(--neltral-dark);
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* SECTION BREADCRUMB*/

#breadcrumb ul {
    display: flex;
    list-style: none;
}

#breadcrumb ul li {
    display: flex;
    align-items: center;
    padding: 12px 4px;
}

#breadcrumb ul li:last-child {
    color: var(--brand-orange-default);
}

#breadcrumb ul li a{ 
    text-decoration: none;
    color: var(--small-paragraph);
    font-weight: 500;
}

#breadcrumb ul li img {
    width: 30px;
    height: 30px;
}

/* SECTION BANNER-PRODUCT*/

#banner-product {
    border-top: 1px solid var(--netral-light-hover);
    padding-top: 24px;
}

#banner-product .container {
    display: grid;
    gap: 24px;
    border-bottom: 1px solid var(--netral-light-hover);
    padding-bottom: 47px;
    grid-template-areas: 
    "photo photo title"
    "photo photo desc"
    "photo photo desc"
    ;
}

#banner-product .container div {
    color: var(--neltral-dark);
}

.product-photo {
    grid-area: photo;
    width: 100%;
    font-size: var(--medium-paragraph); 
    text-align: center;
}

.product-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    font-weight: 600;
}

.product-tile h2{
    font-size: 90px;
}

.product-title p{
    font-size: var(--small-paragraph);
}

.text-green{
    color: var(--brand-green-default);
}

.product-code {
    display: flex;
    justify-content: space-between;
}

.product-desc {
    grid-area: desc;
    display: flex;
    flex: 1;
    padding: 0px 16px 0px 0px;
}

.product-specifications {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--medium-paragraph);
    font-weight: 500;
    flex: 1;
}

.product-desc .product-color {
    display: flex;
    justify-content: space-between;
    max-width: 140px;
    padding: 10px 0px;
}

.product-desc .item {
    width: 40px;
    height: 40px;
    border: 2px solid var(--neltral-medium-light);
    border-radius: 100%;
    padding: 3px;
    cursor: pointer;
}

.product-desc .gray {
    background-color: var(--product-gray);
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.product-desc .salmon {
    background-color: var(--product-salmon);
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.product-desc .silver {
    background-color: var(--product-silver);
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.product-specifications-size {
    margin-top: 24px;
}

.product-desc .product-size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 247px;
    margin-top: 10px;
}

.size {
    padding: 12px 24px;
    background-color: transparent;
    border: 1px solid var(--neltral-medium-light);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

.size.disable {
    color: var(--neltral-light);
    background-color: var(--netral-light-hover);
    border: none;
}

.frete-container {
    display: flex;
    width: 100%;
    border: 1px solid var(--netral-light-hover);
    margin-top: 24px;
    padding: 24px;
    border-radius: 4px;
}

.frete-container img {
    padding: 16px 32px 16px 0px;
}

.frete-container .frete-dec {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border: 1px solid var(--netral-light-hover);
    margin-left: 24px;
    padding: 24px;
}

.product-price .price-discount {
    display: flex;
    gap: 10px;
    font-size: var(--medium-paragraph);
    font: 500;
    margin-top: 4px;
}

.product-price .price-discount p{
    text-decoration: line-through;
    color: var(--neltral-medium);
}

.product-price .price-discount span{
    background-color: var(--feedback-default-light);
    color: var(--feedback-default);
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 4px;
}

.product-price .price-quantity {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 24px 0px 16px 0px;
}

.product-price .price-quantity .counter {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 4px 12px;
    font-size: var(--large-paragraph);
    font-weight: 500;
    border: 1px solid var(--neltral-light);
    border-radius: 4px;
}

.product-price .price-quantity .counter button {
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: var(--brand-green-default);
}

.text-red {
    color: var(--feedback-default);
}

.price-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-green {
    background-color: var(--brand-green-default);
    padding: 16px 78px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: var(--large-paragraph);
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.button-green:hover {
    background-color: var(--brand-green-default-light);
    border: 1px solid var(--brand-green-default-dark);
}

.button-orange {
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 1px solid transparent;
    background-color: var(--brand-orange-default);
    padding: 16px 78px;
    border-radius: 4px;
    font-size: var(--large-paragraph);
    font-weight: 700;
    color: white;
    margin: 8px 0px 24px 0px;
    cursor: pointer;
    transition: all 0.5s;
}

.button-orange:hover {
    background-color: var(--brand-orange-default-light);
    border: 1px solid var(--brand-orange-default-dark);
}


/* SECTION BOUGHT */

#clients-bought .container {
    padding: 64px 0px;
}

.modal {
    display: none;
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 216px;
    padding: 16px;
}

.card-image {
    width: 100%;
}

.card-title {
    font-weight: 400;
    font-size: var(--medium-paragraph);
}

.card-desc {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-old-price {
    font-size: var(--small-paragraph);
    text-decoration: line-through;
    color: var(--neltral-light);
}

.card-installment-price {
    color: var(--neltral-medium);
    font-size: var(--small-paragraph);
}

/* SECTION BANNER-SHEIF*/

.banner-sheif {
    margin-top: 64px;
}

.banner-sheif-img {
    width: 100%;
}


/* MEDIA QUERIES */

@media (max-width: 1280px) {
    .container {
        padding: 0px 20px;
    }
    
    header .container .input-container {
        width: 702px;
    }

    div.scrollmenu {
        display: flex;
        justify-content: start;
    }

    div.scrollmenu a {
        padding: 14px 11px;
        margin: auto;
    }
}


@media (max-width: 992px) {
    header .container .input-container {
        width: 502px;
    }
}

@media (max-width: 768px) {
    header .container .input-container {
        display: none;
    }

    .menu-icon .search-container {
        display: flex;
    }

    header .container button {
        display: none;
    }

    #breadcrumb ul li{
        display: none;
    }

    #breadcrumb ul li:first-child{
        display: block;
    }

    #banner-product .container {
        display: grid;
        gap: 50px;
        grid-template-areas: 
        "title"
        "photo"
        "desc"
        ;
    }

    .product-code p:last-child {
        display: none;
    }

    .product-photo p{
        display: none;
    }

    .product-photo img{
        width: 100%;
    }

    .product-desc {
        display: block;
    }
    
    .product-price {
        margin-left: 0px;
        margin-top: 16px;
    }

}

@media (max-width: 576px) {
    .price-quantity-desc-item {
        font-size: var(--medium-paragraph);
    }
}

@media (max-width: 375px) {
    .price-quantity-desc-item {
        font-size: var(--small-paragraph);
    }
}